body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  color: #000;

  background-color: #fff;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.page-header {
	background-color: #f3f7f9;
}

.header-top {
	font-size: 17px;
	line-height: 18px;
	color: #fff;
	background-color: #293449;
}

.header-top a {
	color: #fff;
}

.header-top .header-logo {
	background-color: #ee3643;
	border-bottom: 5px solid #b52933;
}

.header-top .header-logo:hover {
	background-color: #ca2c37;
	border-bottom: 5px solid #9a212a;
}

.header-top .header-logo:focus {
	background-color: #ba2732;
	border-bottom: 5px solid #8e1e26;
}

.header-top .header-logo .logo-btn {
	font-size: 24px;
	line-height: 24px;
}

.header-top .search-bar {
	background-color: #293449;
	border-color: #293449;
}

.header-top .search-bar:focus {
	background-color: #fff;
	/*тут надо както убрать голубую рамку*/
}

.header-top .menu-bookmarks:hover,
.header-top .menu-basket:hover {
	background-color: #212a3a;
}

.header-top .menu-bookmarks:focus,
.header-top .menu-basket:focus {
	background-color: #161d29;
}

.header-top .menu-order {
	background-color: #63a63e;
}


.header-top .menu-order:hover {
	background-color: #5fbb2d;
}


.header-top .menu-order:focus {
	background-color: #518534;
}

.header-top .header-btn:focus {
	opacity: 0.6;
}

.page-header .subtitle {
	font-style: italic;
	font-size: 16px; 
	line-height: 23px;
	color: #ee3643;
}

.phone .phone-wrapper {
	border: 3px solid #fff;
}

.phone .phone-wrapper .phone-link {
	color: #ee3643;
}

.address .address-content {
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
}

.user-menu .user-menu-list .user-menu-item {
	background-color: #fff;
}

.user-menu-item .user-menu-button {
	font-size: 21px;
	line-height: 21px;
	color: #000;
}

.user-menu-item .user-menu-button:hover {
	color: #ee3643;
}

.user-menu-item .user-menu-button:focus {
	color: #000;
	opacity: 0.3;
}

.nav-menu {
	background-color: #32425c;
	border-bottom: 5px solid #293449;
}

.nav-list .nav-item:hover {
	background-color: #293449;
}

.nav-list .nav-item .nav-item-link:focus {
	opacity: 0.5;
}

.nav-item .nav-item-link {
	color: #fff;
}







