@font-face {
	font-family: "Cuprum";
	src: url('../fonts/cuprum.woff2');
	src: url('../fonts/cuprum.woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Cuprum";
	src: url('../fonts/cuprumbold.woff2');
	src: url('../fonts/cuprumbold.woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Cuprum";
	src: url('..//fonts/cuprumitalic.woff2');
	src: url('..//fonts/cuprumitalic.woff');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Cuprum";
	src: url('..//fonts/cuprumbolditalic.woff2');
	src: url('..//fonts/cuprumbolditalic.woff');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: "PTSans";
	src: url('../fonts/ptsans.woff2');
	src: url('../fonts/ptsans.woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "PTSans";
	src: url('../fonts/ptsansbold.woff2');
	src: url('../fonts/ptsansbold.woff');
	font-weight: 700;
	font-style: normal;
}

.index-body,
.inner-page {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  font-family: 'Cuprum', Arial, sans-serif;
  color: black;

  background-color: white;
}

.logo-button,
.header-button,
.phone-link,
.user-menu-button,
.navigation-item-link,
.features-button,
.slider-button,
.current-price,
.credit-button,
.about-us-button,
.contact-button,
.footer-top-link {
  color: white;
  text-decoration: none;
}

.user-menu-list,
.navigation-list,
.popular-products-list,
.manufacturers-list,
.services-list,
.delivery-list,
.technomart-list,
.products-list,
.user-submenu-list {
  list-style: none;
}

.page-header {
  background-color: #f3f7f9;
}

.header-top {
  font-size: 17px;
  line-height: 18px;
  color: white;

  background-color: #293449;
}

.header-logo {
  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
}

.header-logo:hover {
  background-color: #ca2c37;
  border-bottom: 5px solid #9a212a;
}

.header-logo:focus {
  background-color: #ba2732;
  border-bottom: 5px solid #8e1e26;
}

.logo-button {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.search-bar {
  background-color: #293449;
  border-color: #293449;
}

.search-bar:focus {
  background-color: white;
}

.basket-fill {
	background-color: #ee3643;
}

.menu-bookmarks:hover,
.menu-basket:hover {
  background-color: #212a3a;
}

.menu-bookmarks:focus,
.menu-basket:focus {
  background-color: #161d29;
}

.menu-order {
  background-color: #63a63e;
}

.menu-order:hover {
  background-color: #5fbb2d;
}


.menu-order:focus {
  background-color: #518534;
}

.header-btn:focus {
  opacity: 0.6;
}

.subtitle {
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  font-style: italic;
}

.phone-wrapper {
  border: 3px solid #ffffff;
}

.phone-link {
  color: #ee3643;
}

.address-content {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-menu-item {
  background-color: white;
}

.user-menu-button {
  font-size: 21px;
  line-height: 21px;
  color: black;
}

.user-menu-button:focus {
	opacity: 0.3;
}

.user-submenu-link {
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
}

.user-submenu-link:hover {
	color: #ee3643;
}

.user-submenu-link:focus {
	color: #32425c;
	opacity: 0.3;
}

.user-menu-button:hover {
  color: #ee3643;
}

.user-menu-button:focus {
  color: black;
  opacity: 0.3;
}

.navigation-menu {
  background-color: #32425c;
  border-bottom: 5px solid #293449;
}

.navigation-item:hover {
  background-color: #293449;
}

.navigation-item-link:focus {
  opacity: 0.5;
}

.navigation-item-link {
  color: white;
}

.features-item-title {
	color: white;
	font-size: 24px;
	line-height: 30px;
}

.materials {
	background-color: #ffbf47;
}

.tools {
	background-color: #3bbce3;
}

.equipment {
	background-color: #dc91d8;
}

.discounts {
	background-color: #8ed78f;
}

.delivery {
	background-color: #ffc047;
}

.features-button-block {
	background-color: rgba(0, 0, 0, 0.1);
}

.features-button-block:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.features-button-block:focus {
	background-color: rgba(0, 0, 0, 0.3);
}

.features-button {
	text-transform: uppercase;
}

.slide-title {
	font-weight: bold;
	font-size: 36px;
	line-height: 30px;
	text-transform: uppercase;
	color: white;
}

.slide-text {
	font-family: "PTSans";
	font-size: 18px;
	line-height: 24px;
	color: white;
}

.slider-button-block {
	background-color: #ee3643;
}

.slider-button-block:hover {
	background-color: #ca2c37;
}

.slider-button-block:focus {
	background-color: #ba2732;
}

.slider-button {
	text-transform: uppercase;
}

.actions-button:first-child {
	background-color: #63a63e;
}

.actions-button:first-child:hover {
	background-color: #5fbb2d;
}

.actions-button:first-child:focus {
	background-color: #518534;
}

.buy {
	text-transform: uppercase;
	color: white;
	text-decoration: none;
}

.actions-button:last-child {
	background-color: white;
	border: 3px solid #63a63e;
}

.actions-button:last-child:hover {
	border: 3px solid #32425c;
}

.actions-button:last-child:focus {
	border: 3px solid #c1c6ce;
	color: #c1c6ce;
}

.bookmark {
	text-transform: uppercase;
	text-decoration: none;
	color: #32425c;
}

.products-header {
	background-color: #f9f5f0;
}

.popular-products-title {
	text-transform: uppercase;
	font-size: 30px;
	line-height: 30px;
}

.popular-products-button-block {
	background-color: #ee3643;
}

.popular-products-button {
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	line-height: 18px;
}

.popular-item-title {
	font-family: "PTSans";
	font-weight: bold;
}

.old-price {
	font-family: "PTSans";
	font-weight: bold;
	color: #a9a9a9;
}

.current-price-block {
	background-color: #ee3643;
}

.popular-item-wrapper:hover {
	box-shadow: 0 0 15px 0 black;
}

.manufacturers-header {
	background-color: #f9f5f0;	
}

.manufacturers-title {
	text-transform: uppercase;
	font-size: 30px;
	line-height: 30px;
}

.all-manufacturers-block {
	background-color: #ee3643;
}

.all-manufacturers-button {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
}

.manufacturer-wrapper {
	border: 1px solid #eaeaea;
}

.manufacturer-wrapper:hover {
	box-shadow: 0 0 15px 0 black;
}

.manufacturer-wrapper:focus {
	box-shadow: 0 0 10px 0 black;
}

.manufacturer-img:focus {
	opacity: 0.3;
}

.services {
	background-color: #f4f7f9;
}

.services-title {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.services-header-text {
	font-family: "PTSans";
	font-size: 13px;
	line-height: 24px;
}

.service-button-block {
	background-color: #32425c;
}

.service-button-block:hover {
	background-color: #293449;
}

.service-button {
	text-decoration: none;
	color: white;
	font-weight: 700;
	font-size: 21px;
	line-height: 30px;
}

.service-info-title {
	color: #32425c;
	text-transform: uppercase;
	font-weight: 400;
}

.delivery-title {
	font-size: 36px;
	line-height: 36px;
}

.guarantee-title,
.credit-title {
	font-size: 36px;
	line-height: 24px;
}

.service-info-text {
	font-size: 13px;
	line-height: 24px;
}

.credit-block {
	background-color: #ff5357;
}

.credit-button {
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
}

.about-us-title {
	text-transform: uppercase;
	font-size: 30px;
	line-height: 30px;
}

.about-us-text {
	font-size: 13px;
	line-height: 24px;
}

.delivery-title {
	font-size: 18px;
	line-height: 20px;
}

.about-us-block {
	background-color: #ee3643;
}

.about-us-button,
.contact-button {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.address-text {
	font-size: 18px;
	line-height: 24px;
	color: white;
}

.footer-top {
	background-color: #32425c;
}

.footer-bottom-link {
	color: #ffd180;
	text-decoration: none;
}

.footer-link {
	font-size: 18px;
	line-height: 24px;
}

.footer-link:hover {
	text-decoration: underline;
}

.footer-link:focus {
	opacity: 0.5;
}

.footer-bottom {
	background-color: #293449;
}

.copyright-text {
	font-size: 16px;
	line-height: 18px;
	color: white;
}

/*соц сети*/

.email-text,
.developer-text {
	font-size: 16px;
	line-height: 18px;
	color: white;
}

.email-link,
.developer-link {
	color: #ffd180;
	font-size: 16px;
	line-height: 18px;
	text-decoration: none;
}

.email-link:hover,
.developer-link:hover {
	text-decoration: underline;
}

.email-link:focus,
.developer-link:focus {
	color: #ee3643;
}

.write-us-popup {
	border-top: 7px solid #ee3643;
}

.text-field-label,
.e-mail-field-label,
.textarea-field-label {
	font-size: 18px;
	line-height: 18px;
}

.text-field,
.e-mail-field,
.textarea-field {
	border: 2px solid #d7dcde;
}

.text-field:hover,
.e-mail-field:hover,
.textarea-field:hover {
	border: 2px solid #b5b5b5;
}

.text-field:focus,
.e-mail-field:focus,
.textarea-field:focus {
	border: 2px solid #ee3643; /*тут какой-то треш выходит, рамка остаетс серая вокруг красной*/
}

.write-us-bottom {
	background-color: #f1f1f1;
}

.submit-button {
	background-color: #ee3643;
	color: white;
	font-family: "Cuprum";
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}



