@font-face {
  font-weight: 400;
  font-family: 'Cuprum';
  font-style: normal;

  src: url('../fonts/cuprum.woff2') format('woff2'),
  url('../fonts/cuprum.woff') format('woff');
}

@font-face {
  font-weight: 700;
  font-family: 'Cuprum';
  font-style: normal;

  src: url('../fonts/cuprumbold.woff2') format('woff2'),
  url('../fonts/cuprumbold.woff') format('woff');
}

@font-face {
  font-weight: 400;
  font-family: 'Cuprum';
  font-style: italic;

  src: url('../fonts/cuprumitalic.woff2') format('woff2'),
  url('../fonts/cuprumitalic.woff') format('woff');
}

@font-face {
  font-weight: 700;
  font-family: 'Cuprum';
  font-style: italic;

  src: url('../fonts/cuprumbolditalic.woff2') format('woff2'),
  url('../fonts/cuprumbolditalic.woff') format('woff');
}

@font-face {
  font-weight: 400;
  font-family: 'PTSans';
  font-style: normal;

  src: url('../fonts/ptsans.woff2') format('woff2'),
  url('../fonts/ptsans.woff') format('woff');
}

@font-face {
  font-weight: 700;
  font-family: 'PTSans';
  font-style: normal;

  src: url('../fonts/ptsansbold.woff2') format('woff2'),
  url('../fonts/ptsansbold.woff') format('woff');
}

.index-body,
.inner-page {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  font-family: 'Cuprum','Arial',sans-serif;
  color: black;

  background-color: white;
}

.logo-button,
.footer-logo,
.header-button,
.phone-link,
.user-menu-button,
.navigation-item-link,
.features-button,
.slider-button,
.current-price,
.credit-button,
.about-us-button,
.contact-button,
.footer-top-link,
.make-order,
.footer-phone,
.social-link {
  color: white;
  text-decoration: none;
}

.user-menu-list,
.navigation-list,
.popular-products-list,
.manufacturers-list,
.delivery-list,
.technomart-list,
.products-list,
.user-submenu-list,
.breadcrumbs,
.sort,
.catalog,
.filter-manufacturers-list,
.supply-list {
  padding-left: 0;

  list-style: none;
}

.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.page-header .header-top-wrapper,
.navigation-list,
.user-menu-list,
.user-submenu-list,
.features-wrapper,
.popular-products-list,
.manufacturers-list,
.manufacturers-header,
.products-header,
.about-us,
.footer-bottom .footer-bottom-wrapper,
.footer-top .footer-top-wrapper,
.technomart-list,
.products-list,
.services-slider,
.breadcrumbs,
.sort-section,
.sort,
.page-main-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.visually-hidden {
  display: none;
}

.page-header {
  background-color: #f3f7f9;
  padding-bottom: 60px;
  margin-bottom: 60px;
}
.inner-page .page-header {
  margin-bottom: 20px;
}

.header-top {
  margin-bottom: 32px;
  min-height: 42px;
  font-size: 17px;
  line-height: 18px;
  color: white;

  background-color: #293449;
}

.logo-button {
  cursor: default;
}

.logo-button,
.footer-logo {
  display: block;
  padding: 10px 0 8px 55px;
  width: 165px;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;

  background-color: #ee3643;
  box-shadow: 0 5px #b52933;
}

.logo-button:hover,
.footer-logo:hover {
  background-color: #ca2c37;
  box-shadow: 0 5px #9a212a;
}

.logo-button:active,
.footer-logo:active {
  background-color: #ba2732;
  box-shadow: 0 5px #8e1e26;
}

.search {
  position: relative;
  width: 270px;
}

.search-bar {
  width: 100%;
  padding-left: 50px;
  background-color: #293449;
  border-color: #293449;
  min-height: 42px;
}

.search-icon {
  position: absolute;
  top: 12px;
  left: 17px;
  fill: white;
  opacity: 0.3;
}

.search-bar:hover path{
  fill: white;
  opacity: 1;
}

.search-bar:focus path {
  fill: red;
}

.search-bar:focus {
  background-color: white;
}

.bookmarks {
  position: relative;
  width: 105px;
  padding-left: 45px;
  padding-top: 10px;
}

.bookmarks::before {
  content: "";
  width: 14px;
  height: 17px;
  background-image: url("../img/svg/icon-bookmark.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 11px;
  left: 17px;
  opacity: 0.3;
}

.basket {
  position: relative;
  width: 100px;
  padding-left: 50px;
  padding-top: 10px;
}

.basket:before {
  content: "";
  width: 17px;
  height: 17px;
  background-image: url("../img/svg/icon-cart.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 11px;
  left: 19px;
  opacity: 0.3;
}

.bookmarks:hover:before,
.basket:hover:before {
  opacity: 1;
}

.bookmarks:active:before,
.basket:active:before {
  opacity: 0.5;
}

.inner-page .basket{
  background-color: #ee3643;
}

.basket-fill {
  background-color: #ee3643;
}

.header-button {
  display: block;
}

.header-button:hover {
  background-color: #212a3a;
}

.header-button:active {
  background-color: #161d29;
}

.order {
  width: 130px;
  padding-left: 20px;
  padding-top: 10px;
  background-color: #63a63e;
}

.order:hover {
  background-color: #5fbb2d;
}

.order:active {
  background-color: #518534;
}

.subtitle {
  box-sizing: border-box;
  width: 247px;
  margin-right: 50px;
  min-height: 70px;
  padding-left: 53px;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  font-style: italic;
}

.phone-link {
  position: relative;
  display: block;
  margin: 14px 20px;
  padding: 9px 63px;
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;

  border: 3px solid white;
}

.phone-link:before {
  content: "";
  width: 21px;
  height: 23px;
  background-image: url("../img/svg/icon-phone.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
  left: 10px;
}

.address-content {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  padding-left: 31px;
}

.user-menu {
  margin-left: auto;
}

.user-menu-item {
  position: relative;
  margin-bottom: 7px;
}

.user-menu-item:last-child {
  margin-left: 10px;
}

.user-menu-button {
  display: inline-block;
  vertical-align: middle;
  background-color: white;
  padding: 11px 24px;
  font-size: 21px;
  line-height: 21px;
  color: black;
  padding: 11px 35px;
}

.enter {
  padding-left: 50px;
}

.enter-icon{
  position: absolute;
  top: 13px;
  left: 15px;
}

.enter:hover path {
  fill:  #32425c;
}

.user-menu-button:hover {
  color: #ee3643;
}

.user-menu-button:active {
  color: black;

  opacity: 0.3;
}

.inner-page .user-menu-list {
  display: block;
}

.header-contacts {
  margin-bottom: 13px;
}

.user-submenu-item {
  margin-right: 30px;
}

.user-submenu-link {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
}

.user-submenu-link:hover {
  color: #ee3643;
}

.user-submenu-link:active {
  color: #32425c;

  opacity: 0.3;
}

.navigation-list {
  justify-content: space-between;
  margin: 0;
}

.navigation-menu {
  background-color: #32425c;
  border-bottom: 5px solid #293449;
  width: 100%;
}

.navigation-item-link {
  display: block;
  padding: 18px 35px;
  color: white;
}

.navigation-item-link:hover {
  background-color: #293449;
}

.navigation-item-link:active {
  opacity: 0.5;
}

.features {
  margin-bottom: 55px;
}

.features-item {
  width: 300px;
  min-height: 123px;
}

.features-item-title {
  margin-top: 0;
  margin-bottom: 8px;
  padding-top: 21px;
  padding-left: 24px;
  font-size: 24px;
  line-height: 30px;
  color: white;
}

.materials {
  position: relative;
  background-color: #ffbf47;
  margin-right: 20px;
  margin-bottom: 20px;
}

.materials::after {
  content: "";
  width: 59px;
  height: 60px;
  background-image: url("../img/decoration/new_flag.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
}

.materials .features-item-title::after {
  content: "";
  width: 50px;
  height: 68px;
  background-image: url("../img/svg/icon-1.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 30px;
  right: 30px;
}

.tools {
  position: relative;
  background-color: #3bbce3;
  margin-right: 20px;
  margin-bottom: 20px;
}

.tools .features-item-title::after {
  content: "";
  width: 75px;
  height: 61px;
  background-image: url("../img/svg/icon-2.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 30px;
  right: 30px;
}

.equipment {
  position: relative;
  background-color: #dc91d8;
  margin-bottom: 20px;
}

.equipment .features-item-title::after {
  content: "";
  width: 78px;
  height: 62px;
  background-image: url("../img/svg/icon-3.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 30px;
  right: 30px;
}

.discounts {
  position: relative;
  background-color: #8ed78f;
  margin-bottom: 20px;
}

.discounts .features-item-title::after {
  content: "";
  width: 59px;
  height: 72px;
  background-image: url("../img/svg/icon-4.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 30px;
  right: 30px;
}

.delivery {
  position: relative;
  background-color: #ffc047;
}

.delivery .features-item-title::after {
  content: "";
  width: 78px;
  height: 64px;
  background-image: url("../img/svg/icon-5.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 30px;
  right: 30px;
}

.features-wrapper-aside {
  padding-top: 0;
}

.features-button {
  font-size: 14px;
  line-height: 18px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border-radius: 3px;
  width: 135px;
  padding: 12px 0;
  margin-left: 26px;
  margin-bottom: 22px;
  text-transform: uppercase;

  background-color: rgba(0, 0, 0, 0.1);
}

.features-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.features-button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.slide-title {
  position: absolute;
  top: 25px;
  left: 20px;
  font-weight: 700;
  font-size: 36px;
  margin-top: 0;
  line-height: 30px;
  color: white;
  text-transform: uppercase;
}

.slide-text {
  position: absolute;
  top: 40px;
  left: 20px;
  font-size: 18px;
  line-height: 24px;
  font-family: 'PTSans', "Arial", sans-serif;
  color: white;
}

.slider {
  margin-right: 20px;
  flex-basis: 620px;
  height: 266px;
  overflow: hidden;
  position: relative;
}

.slider-radio-1,
.slider-radio-2,
.services-radio-1,
.services-radio-2,
.services-radio-3 {
  display: none;
}

.slider-arrow-left,
.slider-arrow-right,
.slider-point-left,
.slider-point-right {
  position: absolute;
  cursor: pointer;
  z-index: 1;
}

.slider-arrow-left {
  position: relative;
  top: 120px;
  left: 30px;
}

.slider-arrow-left::after {
  content: "";
  width: 26px;
  height: 38px;
  background-image: url("../img/svg/icon-left.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}

.slider-arrow-right {
  top: 130px;
  right: 30px;
}

.slider-arrow-right::after {
  content: "";
  width: 26px;
  height: 38px;
  background-image: url("../img/svg/icon-right.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: -14px;
  right: 0;
}

.slider-point-right {
  bottom: 30px;
  left: 330px;
}

.slider-point-left {
  bottom: 30px;
  left: 300px;
}

.slider-point-right,
.slider-point-left {
  display: inline-block;
  vertical-align: center;
  background-color: white;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 2px solid white;
}

.slider-inner {
  width: 300%;
  display: flex;
}

.slide {
  position: relative;
}

.slider-radio-1:checked ~ .slider-inner { 
  transform: translate(0);
}

.slider-radio-2:checked ~ .slider-inner { 
  transform: translate(-620px);
}

.slider-radio-1:checked ~ .slider-controls .slider-point-left,
.slider-radio-2:checked ~ .slider-controls .slider-point-right { 
  background-color: #ee3643;
}

.slider-button {
  position: absolute;
  bottom: 23px;
  left: 25px;
  z-index: 1;
  border-radius: 3px;
  padding: 8px 40px;
  display: inline-block;
  vertical-align: middle;
  background-color: #ee3643;
  text-transform: uppercase;
}

.slider-button:hover {
  background-color: #ca2c37;
}

.slider-button:active {
  background-color: #ba2732;
}

.actions {
  display: none;
  position: absolute;
  z-index: 5;
  width: 220px;
  padding: 30px 0;
  height: 88px;
  background-color: rgba(255,255,255,0.9);
  text-align: center;
}

.buy {
  display: inline-block;
  vertical-align: middle;
  padding: 6px 45px;
  font-size: 14px;
  color: white;
  margin-bottom: 7px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  box-shadow: 0 3px 0 #367315;
  background-color: #63a63e;
  box-shadow: ;
}

.buy:hover {
  background-color: #5fbb2d;
}

.buy:active {
  background-color: #518534;
}

.bookmark {
  display: inline-block;
  vertical-align: middle;
  padding: 6px 29px;
  font-size: 14px;
  color: #32425c;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;

  background-color: white;
  border: 3px solid #63a63e;
}

.bookmark:hover {
  border: 3px solid #32425c;
}

.bookmark:active {
  color: #c1c6ce;

  border: 3px solid #c1c6ce;
}

.popular-products-list {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}

.popular-products {
  margin-bottom: 6px;
}

.products-header {
  background-color: #f9f5f0;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  margin-bottom: 25px;
}

.popular-products-title,
.manufacturers-title {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.popular-products-button {
  display: inline-block;
  vertical-align: middle;
  border-radius: 4px;
  padding: 10px 54px;
  font-size: 14px;
  line-height: 18px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ee3643;
}

.popular-item {
  width: 220px;
  padding-bottom: 18px;
  border: 1px solid #eaeaea;
  margin-bottom: 17px;
  margin-right: 17px;
}

.popular-item-wrapper {
  text-align: center;
}

.popular-item:last-child {
  margin-right: 0;
  position: relative;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.new-flag {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 6;
  background-image: url(../img/decoration/new_flag.png);
  width: 59px;
  height: 59px;
}

.popular-item-title {
  font-weight: 700;
  font-family: 'PTSans', "Arial", sans-serif;
  padding: 0 24px;
  text-align: center;
}

.old-price {
  display: inline-block;
  vertical-align: middle;
  padding: 5px 55px;
  font-weight: 700;
  font-family: 'PTSans', "Arial", sans-serif;
  color: #a9a9a9;
}

.current-price {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border-radius: 3px 0 0 3px;
  padding: 10px 30px;
  background-color: #ee3643;
}

.popular-item:last-child .current-price {
  margin-top: 30px;
}

.current-price::after {
  content: "";
  background-image: url("../img/svg/red-button.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: -42px;
  border: 21px solid white;
  border-left-color: #ee3643;
}

.popular-item:hover {
  box-shadow: 0 0 10px 0 #aeb2ba;
}

.popular-item:hover .actions {
  display: block;
}

.manufacturers {
  margin-bottom: 64px;
}

.manufacturers-list {
  margin-bottom: 0;
}

.manufacturers-header {
  background-color: #f9f5f0;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 25px;
}

.all-manufacturers-button {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 69px;
  font-size: 14px;
  border-radius: 4px;
  line-height: 18px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #ee3643;
}

.manufacturer-wrapper {
  width: 218px;
  min-height: 145px;
  border: 1px solid #eaeaea;
  position: relative;
}

.manufacturer-icon {
  display: block;
  width: 100%;
  height: 145px;
}

.manufacturer-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.manufacturer-item {
  margin-bottom: 20px;
  margin-right: 20px;
}

.manufacturer-item:nth-child(4) {
  margin-right: 0;
}

.manufacturer-item:last-child {
  margin-bottom: 0;
  margin-right: 0;
}

.manufacturer-wrapper:hover {
  box-shadow: 0 10px 25px rgba(41,52,73,.5);
}

.manufacturer-wrapper:active {
  box-shadow: 0 4px 10px rgba(41,52,73,.5);
}

.manufacturer-img:active {
  opacity: 0.3;
}

.services {
  background-color: #f4f7f9;
  padding-top: 64px;
  margin-bottom: 55px;
}

.services-list {
  width: 240px;
}

.services-slider {
  flex-wrap: nowrap;
  padding-bottom: 50px;
}

.services-title {
  font-weight: 400;
  margin-top: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.services-header-text {
  box-sizing: border-box;
  width: 390px;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 67px;
  font-family: 'PTSans', "Arial", sans-serif;
}

.service-item {
  display: block;
  cursor: pointer;
  background-color: #32425c;
  padding: 16px 20px;
  width: 200px;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  font-family: "Cuprum","Arial",sans-serif;
  color: white;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
}

.service-item:hover {
  background-color: #293449;
}

.service-button {
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: white;
  text-decoration: none;
}

.service-info-title {
  font-weight: 400;
  font-size: 36px;
  margin-top: 7px;
  line-height: 24px;
  color: #32425c;
  text-transform: uppercase;
}

.service-info-text {
  box-sizing: border-box;
  width: 270px;
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  font-family: 'PTSans', "Arial", sans-serif;
}

.services-slider-controls {
  position: relative;
  margin-right: 75px;
}

.services-slider-controls:after {
  content: "";
  width: 15px;
  height: 280px;
  background-image: url("../img/decoration/services_side.png");
  background-repeat: no-repeat;
  position: absolute;
  top: -45px;
  right: -6px;
}

.services-slider-inner {
  position: relative;
  flex-grow: 1;
}

.service-info-delivery {
  display: none;
  background-color: #f4f7f9;
  background-image: url("../img/img/delivery_img.png");
  background-repeat: no-repeat;
  background-position: 156px 20px;
  min-height: 230px;
  margin-bottom: 0;
}

.service-info-guarantee {
  display: none;
  background-color: #f4f7f9;
  background-image: url("../img/img/guarantee_img.png");
  background-repeat: no-repeat;
  background-position: 156px 20px;
  min-height: 230px;
  margin-bottom: 0;
}

.service-info-credit {
  display: none;
  background-color: #f4f7f9;
  background-image: url("../img/img/credit_img.png");
  background-repeat: no-repeat;
  background-position: 156px 20px;
  min-height: 230px;
  margin-bottom: 0;
}

.service-info-credit .service-info-text {
  margin-bottom: 25px;
}

.services-radio-1:checked ~ .services-slider-inner .service-info-delivery,
.services-radio-2:checked ~ .services-slider-inner .service-info-guarantee,
.services-radio-3:checked ~ .services-slider-inner .service-info-credit { 
  display: block;
}

.services-radio-1:checked ~ .services-slider-controls .service-delivery,
.services-radio-2:checked ~ .services-slider-controls .service-guarantee,
.services-radio-3:checked ~ .services-slider-controls .service-credit {
  background-color: white;
  color: #32425c;
  border-bottom: 1px solid white;
  border-top: 1px solid white;  
}

.service-info-delivery,
.service-info-guarantee,
.service-info-credit {
  padding-right: 300px;
}

.credit-button {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 9px 41px;
  border-radius: 3px;
  background-color: #ff5357;
}

.about-us {
  flex-wrap: nowrap;
  margin-bottom: 85px;
  justify-content: space-between;
}

.about-us-wrapper {
  margin-right: 179px;
}

.about-us-title {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-us-text {
  box-sizing: border-box;
  width: 450px;
  margin-bottom: 25px;
  font-size: 13px;
  line-height: 24px;
}

.delivery-title {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  padding-left: 33px;
}

.delivery-title:before {
  content: "";
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  position: absolute;
  top: 8px;
  left: -2px;
}

.delivery-item:last-child {
  margin-bottom: 35px;
}

.about-us-button,
.contact-button {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #ee3643;
}

.about-us-button {
  width: 140px;
  padding: 10px 40px;
}

.about-us-contacts .about-us-text {
  width: 190px;
  margin-bottom: 32px;
}

.contact-button {
  width: 170px;
  margin-top: 33px;
  padding: 10px 65px;
}

.popular-products-button:hover,
.all-manufacturers-button:hover,
.credit-button:hover,
.about-us-button:hover,
.contact-button:hover {
  background-color: #ca2c37;
}

.popular-products-button:active,
.all-manufacturers-button:active,
.credit-button:active,
.about-us-button:active,
.contact-button:active {
  background-color: #ba2732;
}

.address {
  order: 2;
}

.products-list {
  order: 3;
}

.footer-logo {
  cursor: default;
  margin-right: 160px;
  margin-bottom: 35px;
  font-size: 30px;
  display: inline-block;
  vertical-align: middle;
  padding: 20px 27px;
  text-align: center;
}

.technomart-list {
  padding-top: 20px;
}

.address-text {
  font-size: 18px;
  line-height: 24px;
  color: white;
  margin-bottom: 0;
}

.technomart-item,
.products-list-item {
  margin-right: 60px;
}

.technomart-item:last-child,
.products-list-item:last-child {
  margin-right: 0;
}

.footer-navigation {
  order: 1;
  padding-bottom: 22px;
}

.footer-top {
  background-color: #32425c;
  padding-bottom: 30px;
}

.footer-top .container {
  justify-content: space-between;
}

.footer-bottom .container {
  align-items: center;
  justify-content: space-between;
}

.footer-bottom-link {
  color: #ffd180;
  text-decoration: none;
}

.footer-link {
  font-size: 18px;
  line-height: 24px;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-link:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-bottom {
  background-color: #293449;
  padding: 20px;
}

.copyright-text {
  box-sizing: border-box;
  width: 245px;
  font-size: 16px;
  line-height: 18px;
  color: white;
  margin-right: 80px;
}

.social-link {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: #212a3a;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: 20px;
}

.social-vk:before {
  content: "";
  width: 26px;
  height: 15px;
  background-image: url("../img/svg/icon-vk.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 13px;
  left: 7px;
}

.social-fb:before {
  content: "";
  width: 12px;
  height: 22px;
  background-image: url("../img/svg/icon-fb.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 9px;
  left: 14px;
}

.social-instagram:before {
  content: "";
  width: 21px;
  height: 21px;
  background-image: url("../img/svg/icon-insta.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
  left: 11px;
}

.social-link:hover {
  background-color: #ee3643;
}

.email-text,
.developer-text {
  box-sizing: border-box;
  width: 195px;
  font-size: 16px;
  line-height: 18px;
  color: white;
}

.email-link,
.developer-link {
  font-size: 16px;
  line-height: 18px;
  color: #ffd180;
  text-decoration: none;
}

.email-link:hover,
.developer-link:hover {
  text-decoration: underline;
}

.email-link:active,
.developer-link:active {
  color: #ee3643;
  text-decoration: none;
}

.write-us-popup {
  border-top: 7px solid #ee3643;
}

.text-field-label,
.e-mail-field-label,
.textarea-field-label {
  font-size: 18px;
  line-height: 18px;
}

.text-field,
.e-mail-field,
.textarea-field {
  border: 2px solid #d7dcde;
}

.text-field:hover,
.e-mail-field:hover,
.textarea-field:hover {
  border: 2px solid #b5b5b5;
}

.text-field:focus,
.e-mail-field:focus,
.textarea-field:focus {
  border: 2px solid #ee3643;
  outline: none;
}

.write-us-bottom {
  background-color: #f1f1f1;
}

.submit-button {
  font-size: 14px;
  line-height: 18px;
  font-family: 'Cuprum', "Arial", sans-serif;
  color: white;
  text-transform: uppercase;

  background-color: #ee3643;
}

.breadcrumbs-item {
  margin-right: 40px;
}

.breadcrumbs-link {
  font-size: 13px;
  line-height: 18px;
  font-family: 'PTSans', "Arial", sans-serif;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}

.drills-title {
  display: block;
  width: 100%;
  padding: 8px 25px;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;

  background-color: #f2f6f8;
}

.page-main-wrapper {
  width: 100%;
  margin-bottom: 58px;
}

.section-price,
.section-manufacturers,
.section-supply {
  border: none;
}

.sort-section {
  background-color: #f7f3ec;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
}

.filter-sidebar {
  width: 220px;
}

.filter-title {
  display: block;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  font-family: 'PTSans', "Arial", sans-serif;

  background-color: #f7f3ec;
}

.filter-price-title,
.filter-manufacturers-title,
.filter-supply-title {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
}

.section-price-top {
  background-color: #f7f3ec;
}

.price-min,
.price-max {
  background-color: #f7f3ec;
  width: 80px;
}

.filter-item {
  font-size: 15px;
  line-height: 20px;
  font-family: 'PTSans', "Arial", sans-serif;
}

.filter .submit-button {
  font-size: 13px;
  font-family: 'PTSans', "Arial", sans-serif;
  color: black;

  background-color: white;
  border: 1px solid #e5e5e5;
}

.sort-section-title {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  font-family: 'PTSans', "Arial", sans-serif;
  text-transform: uppercase;
}

.sort-list-link {
  color: #acaaa5;
  text-transform: uppercase;
  text-decoration: none;

  border-bottom: 1px dashed #ee3643;
}

.sort-list-link:hover {
  color: black;

  border-bottom: 1px solid #ee3643;
}

.sort-list-link:active {
  color: #ee3643;

  border-bottom: none;
}

.catalog-content {
  width: 700px;
}

.catalog {
  margin-bottom: 28px;
}

.paginator-link {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 15px;
  text-align: center;
  font-size: 13px;
  line-height: 18px;
  font-family: 'PTSans', "Arial", sans-serif;
  color: black;
  text-transform: uppercase;
  text-decoration: none;

  border: 1px solid #e5e5e5;
}

.paginator-link:hover {
  border: 1px solid #bdc6ca;
}

.paginator-link:active {
  border: 1px solid #ee3643;
}

.punchers {
  background-color: #f2f6f8;
  padding-top: 45px;
  padding-bottom: 69px;
  margin-top: 50px;
}

.punchers-title {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 28px;
  text-transform: uppercase;
}

.punchers-text {
  margin-bottom: 0;
  font-size: 13px;
  line-height: 24px;
  font-family: 'PTSans', "Arial", sans-serif;
}

.cart-plus {
  border-top: 7px solid #ee3643;
}

.cart-plus-content {
  font-size: 30px;
}

.cart-plus-buttons {
  background-color: #f1f1f1;
}

.make-order {
  display: block;

  font-size: 14px;
  line-height: 18px;
  font-family: 'Cuprum', "Arial", sans-serif;
  color: white;

  background-color: #ee3643;
}

.continue-purchase {
  font-size: 14px;
  line-height: 18px;
  font-family: 'Cuprum', "Arial", sans-serif;

  background-color: white;
}

.make-order:hover,
.continue-purchase:hover {
  background-color: #ca2c37;
}

.make-order:active,
.continue-purchase:active {
  background-color: #ee3643;
}
